*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  /*   clip: rect(0 0 0 0);  для старых браузеров*/
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

.content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: end;
  max-width: 100%;
  padding: 133px 30px;
}

.result {
  min-width: 711px;
}

.content__details {
  min-width: 399px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: end;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  background-color: transparent;
  color: #fff;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-color: #fff;
  border-style: solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  width: 255px;
  margin-top: 8px;
  padding: 2.5px 14px 2.5px 0;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  width: 100%;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* TODO: Спорное решение, в Лисе не работает */
.content__list::-webkit-scrollbar {
  width: 0;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__list-item {

}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-description-container {
  padding: 6px 0px 2px 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 98%;
  color: #fff;
  margin-top: 6px;
}

.content__video-card-thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  background-color: transparent;
  text-align: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 6px 73.5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.more-button {
  width: 100%;
}